@font-face {
    font-family: "HKGrotesk-regular";
    src: url('../fonts/hkgrotesk-regular-web.woff');
    font-weight: 400;
}

@font-face {
    font-family: "HKGrotesk-Bold";
    src: url('../fonts/hkgrotesk-bold-web.woff');
    font-weight: 600;
}

@font-face {
    font-family: "Ranchers-Bold";
    src: url('../fonts/Ranchers-Regular.woff');
    font-weight: 600;
}

@font-face {
    font-family: "Roboto-Regular";
    src: url('../fonts/Roboto-Regular.woff');
    font-weight: 400;
}

body {
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 26px;
    background-color: gray;
}

h1 {
    font-family: 'Ranchers-Bold', sans-serif;
    font-size: 32px;
}